@import "./../../scss/variables";

$pop-up-width: 40rem;
$pop-up-height: auto;

.popUpContainer {
    display: flex;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.562);
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: appear 0.5s forwards ease-in-out;
    animation-delay: 0.5s;
}

.popUp {
    display: flex;
    flex-direction: column;
    width: $pop-up-width;
    height: $pop-up-height;
    background-color: var(--bg-panel);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.head {
    display: flex;
    width: 100%;
    height: ($spacer * 3);
    background-color: var(--bg-panel);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    padding: 0 $spacer;
    padding-top: $spacer;
    padding-bottom: ($spacer/3);
    box-sizing: border-box;
    align-items: center;
    .icon {
        object-fit: contain;
        height: 90%;
    }

    .title {
        font-family: $font;
        color: var(--highlight-text-color);
        margin-left: 1rem;
        font-weight: 500;
        font-size: 1.75rem;
    }
}

.content {
    box-sizing: border-box;
    width: 100%;
    padding: $spacer;
    font-family: $font;
    line-height: 150%;
    color: var(--text-color);
    p {
        margin: 0;
    }
}

.footer {
    @extend .head;
    margin-top: auto;
    padding: 0 $spacer;
    padding-bottom: ($spacer/2.5);
    padding-top: ($spacer/3);
    span {
        font-family: $font;
        color: var(--text-color);
        font-size: 1rem;
    }

    button {
        margin-left: auto;
        background-color: var(--bg-panel);
        border: 3px solid var(--border-color);
        border-radius: 30px;
        font-size: 1.2rem;
        color: var(--highlight-text-color);
        padding: ($spacer/4) $spacer;
        box-shadow: 0 0 15px rgb(211, 211, 211);
        font-weight: 600;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
