@import "./../../scss/variables";

.iconChip {
    display: flex;
    width: max-content;
    align-items: center;
}

.iconContainer {
    display: flex;
    height: 3.5rem;
    box-sizing: border-box;
    border-radius: 100%;
    border: 3px solid var(--border-icon);
    padding: 0.5rem;
    margin-right: ($spacer/2.5);
    background-color: $bg-icon;

    img {
        object-fit: contain;
    }
}

.textContainer {
    display: flex;
    flex-direction: column;
    p,
    h2 {
        margin: 0;
        padding: 0;
    }

    .title {
        font-family: $font;
        color: var(--highlight-text-color);
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: ($spacer/8);
    }

    .value {
        font-family: $font;
        color: var(--text-color);
        font-size: 1.2rem;
        font-weight: 400;
    }
}
