@import "./../../scss/variables.scss";

.manage {
  display: flex;
  margin-top: 3rem;
  overflow: hidden;
  background-color: var(--bg-panel);
  border-radius: 30px;
  flex-direction: column;
  width: max-content;
}

.header {
  display: flex;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-manage-header);
  h1 {
    font-size: 1.25rem;
    font-family: $font;
    color: var(--highlight-text-color);
    font-weight: 400;
  }
}

.form {
  display: flex;
  width: max-content;
  height: 100%;
  padding: 1.5rem 1.5rem;
  flex-direction: column;
}

.row {
  display: flex;
}

.manageRowOne {
  @extend .row;
  justify-content: space-between;
}

.panel {
  background-color: var(--bg-manage-panel);
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 1rem 1.75rem;
  z-index: 100;
}

.panelTitle {
  font-family: $font;
  color: var(--highlight-text-color);
  margin: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.panel1 {
  @extend .panel;
  margin: 0 0.5rem;
}

.panel2 {
  @extend .panel;
  margin: 0 0.5rem;
}

.panel3 {
  background-color: var(--bg-manage-panel);
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.25rem;
  margin: 0 0.5rem;
  margin-top: 1.25rem;
}

.panel4 {
  @extend .panel3;
  margin: 1rem 0.5rem;
  border-radius: 15px;
  overflow: hidden;
  padding: 0;
}

.field {
  display: flex;
  flex-direction: column;
  font-family: $font;
  padding: 0.75rem;
  padding-left: 0;
}

.key {
  margin: 0;
  font-size: 0.75rem;
  color: var(--text-color);
  font-weight: 400;
  font-family: $font;
}
.value {
  margin: 0;
  font-weight: 500;
  margin-top: 0.5rem;
  color: var(--bw-text);
  font-size: 0.95rem;
  font-family: $font;
}

.colLeft {
  min-width: 9rem;
}

.valueLink {
  @extend .value;
  margin: 0;
}

.panelHead {
  display: flex;
  padding: 0.7rem 1rem;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  img {
    height: 2rem;
  }
  h3 {
    margin: 0;
    margin-left: 1.5rem;
    font-family: $font;
    font-weight: 500;
  }

  .arrow {
    display: flex;
    height: 0.75rem;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
  }

  .arrowReverse {
    @extend .arrow;
    transform: rotate(180deg);
  }
}

.panelBody {
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 0;
  margin: 0;
  width: 100%;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1rem 1.25rem;
  animation: expand 0.7s ease-out forwards;
}

.btn {
  background-color: var(--bg-panel);
  border: 3px solid var(--btn-border);
  border-radius: 30px;
  font-size: 1.2rem;
  color: var(--btn-border);

  font-weight: 600;
  padding: 0.4rem 1rem;
}

.depositToken {
  display: flex;
  flex-direction: row;
  align-items: center;
  p {
    margin-left: 1.75rem;
    font-family: $font;
  }
}

.shareLink {
  @extend .depositToken;
  p {
    line-height: 150%;
    margin: 0.15rem 1rem;
  }
}

.finalize {
  @extend .shareLink;
  padding-top: 0.5rem;
  .btn {
    margin-left: auto;
    margin-right: 2rem;
  }
  h5 {
    font-family: $font;
    font-size: 1.25rem;
    margin: 0;
    color: crimson;
  }
}

.optional {
  @extend .depositToken;
  padding: 1.5rem 0;
  width: 100%;

  .row{
      width: 100%;
  }
  
  img{
      height: 3.5rem;
      margin-left: auto;
      margin-right: 1rem;
      position: relative;
      right: 0;
      background-color: white;
      border-radius: 100%;
      border: 4.5px solid var(--border-color);
      padding: 0.75rem;
  }
}

.input {
    display: flex;
    flex-direction: column;
    width: 40rem;
    margin-top: auto;
    
  input {
    border: none;
    padding: 0;
    box-sizing: border-box;
    height: 90%;
    font-family: $font;
    width: 100%;
    font-size: 1.2rem;
    color: var(--highlight-text-color);
    margin: 0 1.25rem;
    background: transparent;
    outline: none;
    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--text-color);
    }
  }

  .customBorder{
    display: flex;
    width: 100%;
    height: 4px;
    margin-top: 1px;
    background-color: var(--border-color);
    box-sizing: border-box;
    margin: 0 1rem;
    span {
      display: flex;
      width: 100%;
      height: 4px;
      background-color: var(--border-color-hover);
      transform: scaleX(0);
    }
  }
}

.inputTitle{
    font-size: 1.25rem;
    margin: 0;
    font-family: $font;
    color: var(--highlight-text-color);
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: 1rem !important;
}

@keyframes liquid {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes expand {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
