@import "./../../scss/variables.scss";

$mob-width : 85%;

.chips {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        gap: 2rem;
       }
}

.panelOne {
    margin-top: 5rem;
    animation: appear 0.35s forwards ease-in-out;
    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width; 
        gap: 2rem;
        margin-top: 2rem;
        align-items: center;
    }
}

.panelTwo {
    margin-top: 2.5rem;
    animation: appear 0.35s forwards ease-in-out;

    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width;
        margin-top: 3rem;
        gap: 2rem;
        align-items: center;
    }
}

.panelThree {
    display: flex;
    width: $panel-full-width;
    justify-content: space-between;
    margin-top: 2.5rem;
    animation: appear 0.3s forwards ease-in-out;
    
    @media only screen and (max-width: 910px) {
        flex-direction: column;
        width: $mob-width;
        gap: 2rem;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
