@import "./../../scss/variables.scss";
.content {
    display: flex;
    min-height: $content-heigth;
    flex: auto;
    background: var(--bg-gradient);
    flex-direction: column;
    align-items: center;
    padding-top: $nav-height;
    padding-left: $side-nav-width;
    
    @media only screen and (max-width: 1420px) {
        padding-left: 0;
    }
}

.chips {
    display: flex;
    justify-content: space-between;
}

